<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <NewEventFormSnippet> -->
<h1 class="mb-3">New Item</h1>

<form method="POST">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" name="title" type="text" value="{{ newItem.title }}">
  </div>
  <input class="btn btn-primary mr-2" type="submit" value="Create" />
  <a class="btn btn-secondary" href="/sharepoint">Cancel</a>
</form>
<!-- </NewEventFormSnippet> -->